.post-img{
    height: 404px;
    overflow: hidden;
    /* margin-top: 14px; */

}
.post-img img{
    width: 100%;
}

.blog-post-content{
    /* background-color: rebeccapurple; */
}

.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 18px;
}